* {
      margin: 0;
      padding: 0;
      border: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: 100%;
      font-family: inherit;

}

html,
body {
      max-width: 100%;
      overflow-x: hidden;
}


/* ===================================Navbar============================== */


.navbar {
      background-color: #913E39;
      position: fixed;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: auto;
      align-items: center;
      font-family: 'Montserrat';
      border-radius: 0 0 15px 15px;
}

.navbar-brand {
      padding-left: 20px;
      text-decoration: none;
      color: #FFFFFF;
      font-family: Montserrat;
      font-size: 50px;
      font-weight: 400;
      line-height: 76px;
      letter-spacing: 0.01em;
      text-align: left;


}

.ferro {
      font-weight: 700;
}

.nav-link {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 20px;
}

.nav-link:hover {
      color: #000;
}

.navbar-nav {
      padding-left: 40%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      /* grid-template-rows: 1; */
      justify-items: end;
      gap: 15px;
}

.active {
      color: #000;
}

nav.sticky {
      background-color: #FFFFFF;
}

nav.sticky a,
nav.sticky div a {
      color: #913E39;
}



/* =======================================Ferro-Blocks========================== */

.branding {
      /* FERRO BLOCKS */
      position: absolute;
      width: 1149px;
      height: 437px;
      left: 385px;
      top: 180px;

      font-family: 'Montserrat';
      margin-bottom: 50px;
      font-style: normal;
      font-weight: 700;
      font-size: 200px;
      line-height: 101.9%;
      /* or 306px */
      letter-spacing: 0.01em;

      color: #913E39;
}

.branding-blocks {
      position: absolute;
      width: 1149px;
      height: 437px;
      left: 5px;
      top: 120px;

      font-weight: 400;
      font-size: 100px;

}

.right-arrow1 {
      position: absolute;
      width: 84px;
      height: 84px;
      left: 720px;
      top: 460px;
}

.right-arrow2 {
      position: absolute;
      width: 84px;
      height: 84px;
      left: 720px;
      top: 510px;
}

/* ================================Details============================= */

.details {
      margin-top: 50px;
}

.rec1 {
      box-sizing: border-box;

      position: absolute;
      width: 443px;
      height: 328px;
      left: 201px;
      top: 800px;
}

.rec2 {
      box-sizing: border-box;
      position: absolute;
      width: 380px;
      height: 270px;
      left: 600px;
      top: 950px;
}

.rec3 {
      box-sizing: border-box;
      position: absolute;
      width: 300px;
      height: 200px;
      left: 930px;
      top: 1100px;
}

.arrow {
      position: absolute;
      width: 300px;
      height: 150px;
      left: 660px;
      top: 790px;
}

.details-text {
      font-family: 'Montserrat';
      color: #913E39;
      font-weight: 700;
      font-size: 30px;
      text-shadow: -10px 9px 8px rgba(0, 0, 0, 0.25);

      position: absolute;
      width: 130px;
      height: 36px;
      left: 980px;
      top: 810px;
}

/* ===========================Scroll-Animation===================== */
.wrapper {
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
}

section {
      scroll-snap-align: start;
}

section {
      scroll-snap-align: start;
}